# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.cpython

# Virtual environment
venv/
*.venv
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environment files
.env
.env.*
credentials.json

# IDE / Editor specific
.idea/
.vscode/

# Test output
.pytest_cache/
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
temp_code_uploads/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific files
.DS_Store
Thumbs.db